@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  html {
    font-family: "Barlow", sans-serif;
  }
  .active:before {
    content: "";
    height: 0.2rem;
    background: #ffffff;
    width: 10%;
    position: absolute;
    bottom: -40%;

    transition: all 0.3s ease-out;
  }
  .tab-panel .tab-active {
    background-color: #ffffff;
    color: #0b0d17;
  }
  .not-active {
    background: transparent;
  }
  .nav-active:before {
    content: "";
    height: 0.2rem;
    background: #ffffff;
    width: 100%;
    display: block;
    position: absolute;
    bottom: -80%;
    transition: all 0.3s ease-out;
  }

  .crew-container .swiper .swiper-pagination {
    bottom: 80px;

    left: -490px;
    width: 100%;
  }
  .crew-container .swiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #ffffff;

    transition: 0.2s;
  }
}
