@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  html {
    font-family: "Barlow", sans-serif;
  }
  .active:before {
    content: "";
    height: 0.2rem;
    background: #ffffff;
    width: 10%;
    position: absolute;
    bottom: -40%;

    transition: all 0.3s ease-out;
  }
  .tab-panel .tab-active {
    background-color: #ffffff;
    color: #0b0d17;
  }
  .not-active {
    background: transparent;
  }
  .mobileNav-active:before {
    content: "";
    height: 31px;
    background: #ffffff;
    width: 4px;
    display: block;
    position: absolute;
    right: 0;
    top: 11px;
    transition: all 0.3s ease-out;
  }
  .nav-active:before {
    content: "";
    height: 0.2rem;
    background: #ffffff;
    width: 100%;
    display: block;
    position: absolute;
    bottom: -80%;
    transition: all 0.3s ease-out;
  }
  .nav-contents.active {
    transition: all 0.5s ease;
    transform: translateX(0%);
  }
  @media screen and (max-width: 1023px) {
    .nav-active:before {
      bottom: -40%;
    }
  }

  .crew-container .swiper .swiper-pagination {
    bottom: 80px;

    left: -490px;
    width: 100%;
  }
  .crew-container .swiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #ffffff;

    transition: 0.2s;
  }
  @media screen and (max-width: 1023px) {
    .crew-container .swiper .swiper-pagination {
      bottom: 80px;
      top: 310px;
      left: -10px;
      width: 100%;
    }
    .crew-container .swiper .swiper-pagination {
      z-index: -1;
    }
  }
  @media screen and (max-width: 763px) {
    .crew-container .swiper .swiper-pagination {
      bottom: 80px;
      top: 310px;
      left: -2px;
      width: 100%;
    }
    .crew-container .swiper .swiper-pagination {
      z-index: -1;
    }
  }
}
